@model IEnumerable<GEMSRegistration.Models.Attendee>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 align="center"> GEMS Registration</h3>
<h4 align="center">Attendee Information</h4>
<div class="container">
    <table class="table table-bordered table-condensed table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Workshop)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Workshop.WorkshopName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location.LocationName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.AttendeeID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.AttendeeID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.AttendeeID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <p>
        <a asp-action="Create">Add Attendee</a> | <a asp-controller="Home" asp-action="Index">Back to Home Page</a>
    </p>

    <div><p align="center">Angelia Bendolph<br />May 7, 2020 </p></div>
</div>
