@model IEnumerable<GEMSRegistration.Models.Workshop>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 align="center">GEMS Registration</h3>
<h4 align="center">Workshop Information</h4>
<div class="container">
    <table class="table table-bordered table-condensed table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.WorkshopName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WorkshopDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Facilitator)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Participant)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.WorkshopName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WorkshopDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Facilitator.LName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Participant.LName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.WorkshopID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.WorkshopID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.WorkshopID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <p>
        <a asp-action="Create">Create New Workshop</a> | <a asp-controller="Home" asp-action="Index">Back to Home Page</a>

    </p>

    <div><p align="center">Angelia Bendolph<br />May 7, 2020 </p></div>
</div>
